* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand {
  font-size: 1.8rem;
  margin-right: 30px;
}
.welcome-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome-container img {
  width: 100%;
  height: auto;
}
.welcome-text {
  position: absolute;
  top: 10px;
  left: 100px;
  color: azure;
  z-index: 1;
}
.welcome-text h3 {
  font-size: 3vw;
}
.welcome-text h2 {
  background-image: linear-gradient(
    -225deg,
    #fff 0%,
    #22cbe1 29%,
    #90ed69 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textClip 2s linear infinite;
  display: inline-block;
  font-size: 4vw;
}
@keyframes textClip {
  to {
    background-position: 200% center;
  }
}
.movie-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.movie-card {
  cursor: pointer;
  width: 14rem;
  min-height: 20rem;
}
.movie-card:hover {
  box-shadow: 0px 0px 20px #cce9ed;
  transform: translate(-10px, -10px);
  transition: 0.25s ease;
}
#dashboard {
  margin-top: 30px;
  margin-bottom: 50px;
}
.card-body {
  position: relative;
}
.card-img-top {
  height: 40%;
}
.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  position: absolute;
  top: -25px;
  right: 5px;
  z-index: 2;
  color: white;
  background-color: black;
}
#more-movie {
  margin: 10px auto;
}

.detail-container {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.movie-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding: 10px;
  margin-bottom: 30px;
  min-height: 650px;
}

.movie-details::before {
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}
.movie-details .poster {
  margin-right: 20px;
  align-self: center;
  position: relative;
}

.poster .fa-solid {
  position: absolute;
  top: 250px;
  left: 140px;
  color: red;
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 350px;
}

.movie-details .poster img {
  width: 350px;
  height: 540px;
}
.detail-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  justify-content: space-around;
}
.cast-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.cast-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px;
}
.cast-card .card {
  border-radius: 5px;
  width: 10rem;
  font-size: 0.8rem;
  max-height: 350px;
}

.cast-role {
  color: grey;
}

.similar-movies {
  justify-content: center;
}

@media (max-width: 500px) {
  .movie-details {
    flex-direction: column;
  }

  .movie-card {
    width: 10rem;
  }
  .welcome-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .welcome-text {
    position: relative;
    left: auto;
  }
}
@media (max-width: 850px) {
  .movie-details {
    flex-direction: column;
  }
}
