.movie-card {
}
.card-body {
  position: relative;
}
.card img {
  height: 60%;
}
.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  /* padding: 10px 5px; */
  position: absolute;
  top: -25px;
  right: 5px;
  z-index: 2;
  color: white;
  background-color: black;
}
